body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: #2b2d30;
}


.heading, .date {
    color:black;
    font-size: 1.1em;
}

.heading {

    color:black;
    font-size: 1.5em;

}

.header {
    color:black;
    font-size: 1.5em;
}

section {
    margin-bottom: 1em;
}

.container {
    display:flex;
}

.container > ul {

        list-style: none;
        padding-inline-start: 0;
        margin-right:2em;
}

@media only screen and (min-width: 768px) {

    header, section {
        margin-left: 1em;
    }
  }